.DS_Store

.gradle
.idea
*.iml

etcd-config.sh

vdata/persistent/artifactory/access/*
vdata/persistent/artifactory/backup/*
vdata/persistent/artifactory/data/*
vdata/persistent/artifactory/etc/*
vdata/persistent/artifactory/logs/*
!vdata/persistent/artifactory/access/.gitkeep
!vdata/persistent/artifactory/backup/.gitkeep
!vdata/persistent/artifactory/data/.gitkeep
!vdata/persistent/artifactory/etc/.gitkeep
!vdata/persistent/artifactory/logs/.gitkeep

vdata/persistent/jenkins/*
!vdata/persistent/jenkins/.gitkeep

vdata/persistent/monitor/web/gradle/*
vdata/persistent/monitor/web/logs/*
!vdata/persistent/monitor/web/gradle/.gitkeep
!vdata/persistent/monitor/web/gradle/root/.gitkeep
!vdata/persistent/monitor/web/logs/.gitkeep