.DS_Store

.gradle
.idea

etcd-config.sh

data/persistent/artifactory/access/*
data/persistent/artifactory/backup/*
data/persistent/artifactory/data/*
data/persistent/artifactory/etc/*
data/persistent/artifactory/logs/*
!data/persistent/artifactory/access/.gitkeep
!data/persistent/artifactory/backup/.gitkeep
!data/persistent/artifactory/data/.gitkeep
!data/persistent/artifactory/etc/.gitkeep
!data/persistent/artifactory/logs/.gitkeep

data/persistent/jenkins/*
!data/persistent/jenkins/.gitkeep
